<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Servicio de Acceso Remoto CONRICYT</title> 
</head>
<body>

<div style="text-align:left; font-size:0.9em" >
<h1 style="background-color: #0A2344; padding: 10px 0 10px 30px;"><font face="Arial" color="#FFFFFF">Servicio de Acceso Remoto CONRICYT</font></h1>
<h3><font face="Arial"><strong>Estimado(a) {{ user.firstname }} {{ user.lastname1 }} {{ user.lastname2 }}:</strong></font></h3>
<h3><font face="Arial"><strong>CONACYT (FOINS)</strong></font></h3>
<p style="text-align: justify"><font face="Arial">Tu registro al Servicio de Acceso Remoto se ha realizado con &#233;xito.</font></p>
<p style="text-align: justify"><font face="Arial">Recuerda que en un plazo de 2 d&#237;as h&#225;biles quedar&#225; activa tu clave de acceso remoto, con la cual podr&#225;s acceder a los recursos de informaci&#243;n cient&#237;fica y tecnol&#243;gica asignados a la instituci&#243;n a la que perteneces, te pedimos ingresar con los datos de acceso que recibiste.</font></p>
<p style="text-align: justify"><font face="Arial">Te recomendamos consultar nuestro <a href="https://www.youtube.com/watch?v=QLCu1O-ndV8&list=PL6e5g66BBEbzzB1lnAo41Hm0fpcRRYSIm&index=3">tutorial</a>.</font></p>
<h2><font face="Arial"><strong>Informaci&#243;n de Registro:</strong></font></h2>
<table border="0" cellpadding="0" cellspacing="3" align="center">
  <tr>
    <td colspan="2" valign="top"><p align="center"><img src="http://conricyt.mx/conremoto/auth/acceso_remoto.jpg" /></td>
  </tr>
  <tr>
    <td><p align="right"><font face="Arial">Fecha de registro:</font></p></td>
    <td><p><font face="Arial"> {{"now"|date('d/m/Y')}} </font></p></td>
  </tr>
  <tr>
    <td><p align="right"><font face="Arial">Usuario:</font></p></td>
    <td><p><font face="Arial">{{ user.username }}</font></p></td>
  </tr>
  <tr>
    <td><p align="right"><font face="Arial">Contrase&#241;a:</font></p></td>
    <td><p><font face="Arial">{{ user.password }}</font></p></td>
  </tr>
</table>
<br />
<p style="text-align: justify"><font face="Arial"><strong>Importante:</strong><br />
  Si en un plazo de 2 d&#237;as h&#225;biles posteriores al registro no puedes ingresar a los recursos electr&#243;nicos mediante tu clave, por favor comun&#237;cate al tel&#233;fono 5322-7700 ext. 4020 a la 4026 para solucionar cualquier problema al respecto.</font></p>

<p style="text-align: justify"><font face="Arial">
<strong>Aviso de Confidencialidad</strong>
<br />
En el Consorcio Nacional de Recursos de Informaci&#243;n Cient&#237;fica y Tecnol&#243;gica (CONRICYT), www.conricyt.mx, con domicilio en Av. Insurgentes Sur 1582, Col. Cr&#233;dito Constructor, Delegaci&#243;n Benito Ju&#225;rez, C.P. 03940, M&#233;xico, D.F.; la informaci&#243;n de nuestros usuarios es tratada en forma estrictamente confidencial por lo que sus datos personales son utilizados &#250;nicamente con la finalidad de brindar acceso a los recursos de informaci&#243;n cient&#237;fica y tecnol&#243;gica proporcionados por el Consorcio.
<br /><br />
</font></p>

</div>
</body>
</html>

