<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Servicio de Acceso Remoto- CONRICYT</title> 
</head>
<body>

<div style="text-align:left; font-size:0.9em" >
<h1>Servicio de Acceso Remoto - CONRICYT</h1>
<h3><strong>Apreciable {{ user.firstname }} {{ user.lastname }}:</strong></h3>
<p style="text-align: justify">Muchas  gracias por realizar tu registro en l&#237;nea al Servicio de Acceso Remoto a los  Recursos Electr&#243;nicos del Consorcio Nacional de Recursos de 
Informaci&#243;n  Cient&#237;fica y Tecnol&#243;gica (CONRICYT).</p>
<p style="text-align: justify">Recuerda que en un plazo de 14 d&#237;as  naturales recibir&#225;s al correo electr&#243;nico - {{ user.inst_email }} -; la clave de acceso remoto activada, mediante  la cual podr&#225;s acceder a los recursos electr&#243;nicos asignados a la Instituci&#243;n a  la que perteneces por el CONRICYT*, te sugerimos estar pendiente.</p>
<h2>
  <strong>Informaci&#243;n  de Registro:</strong></h2>
<table border="1" style="margin-left:0px; padding:none" cellpadding="3">
  <tr>
    <td colspan="2" valign="top"><p align="center"><img src="http://conricyt.mx/conremoto/auth/conricyt2.png" /><strong>Servicio de Acceso Remoto</strong></p></td>
  </tr>
  <tr>
    <td><p align="right">RFC:</p></td>
    <td><p>{{ user.rfc }}</p></td>
  </tr>
  <tr>
    <td><p align="right">Nombre completo:</p></td>
    <td><p>{{ user.firstname }} {{ user.lastname }}</p></td>
  </tr>
  <tr>
    <td><p align="right">Nombre de la Instituci&#243;n:</p></td>
    <td><p>{{ user.Institution.inst_name }}</p></td>
  </tr>
  <tr>
    <td><p align="right">Fecha de registro:</p></td>
    <td><p> {{"now"|date('d/m/Y')}} </p></td>
  </tr>
</table>
<table border="0" cellspacing="3" cellpadding="0" width="100%">
  <tr>
    <td valign="top"></td>
  </tr>
  <tr>
    <td valign="top"></td>
  </tr>
</table>
<p style="text-align: justify"><strong>Importante:</strong><br />
  Si en un plazo de 14 d&#237;as naturales a  partir de tu fecha de registro no recibes tu informaci&#243;n de acceso o no puedes  ingresar a los recursos electr&#243;nicos mediante tu clave, por favor env&#237;a un  correo electr&#243;nico a la direcci&#243;n: <a href="mailto:consorcio@conacyt.mx">consorcio@conacyt.mx</a> para solucionar cualquier  problema al respecto. </p>
<p align="center" style="font-size:0.8em">*Si deseas conocer cu&#225;les son los  recursos electr&#243;nicos a los que tu Instituci&#243;n tiene acceso por parte del  CONRICYT, 
<br>
puedes consultarlos en <a href="http://www.conricyt.mx/acervo-editorial/recursos-por-institucion.htm">http://www.conricyt.mx/acervo-editorial/recursos-por-institucion.htm</a></p>

<p style="text-align: justify">
<strong>Aviso de Confidencialidad</strong>
<br />
En el Consorcio Nacional de Recursos de Informaci&#243;n Cient&#237;fica y Tecnol&#243;gica (CONRICYT), www.conricyt.mx, con domicilio en Av. Insurgentes Sur 1582, Col. Cr&#233;dito Constructor, Delegaci&#243;n Benito Ju&#225;rez, C.P.: 03940, M&#233;xico, D.F.; la informaci&#243;n de nuestros usuarios es tratada en forma estrictamente confidencial por lo que sus datos personales son utilizados &#250;nicamente con la finalidad de brindar acceso a los recursos electr&#243;nicos proporcionados por el Consorcio.
<br /><br />

</p>

</div>
</body>
</html>

